.wrapper {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 18px;
}

.root {
  .articleSubtitle {
    margin-top: 4px;
    margin-bottom: 28px;
  }

  .articleTitle {
    margin-bottom: 10px;
  }
}
