.eventsWrapper {
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.itemWrapper {
  margin: 14px 0;
  border-radius: 5px;
}

.gridWrapper {
  align-items: center;
}
.dateWrapper {
  display: flex;
  min-height: 86px;
}
